/*=========================== variables and global styles */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap");

html {
  font-size: 100%;
  scroll-behavior: smooth;
} /*16px*/

:root {
      /* colors */
  --primary-100: #b7c5c8;
  --primary-200: #92a8ac;
  --primary-300: #6e8a90;
  --primary-400: #496d74;
  --primary-500: #255058;
  --primary-600: #1f4349;
  --primary-700: #19353b;
  --primary-800: #12282c;
  --primary-900: #0c1b1d;

      /* grey */
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: "Roboto", sans-serif;
  --bodyFont: "Nunito", sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-100);
  --textColor: var(--primary-100);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1200px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 25px 30px -2px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-bottom: 1.5rem;
  max-width: 1170px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-600);
  box-shadow: var(--shadow-3);
}


/* form */
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

/* title */
.title {
  text-align: center;
}

        /*=========================== END variables and global styles */


        /* ========================== NAV */

/* back to top btn */
.topBtn {
  background-color: var(--grey-600);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  color: var(--white);
  transition: all .4s;
  z-index: 10;
  opacity: 0;
}

.topBtn i {
  font-size: 30px;
  color: var(--white);
}

.topBtn.on {
  opacity: .8;
  bottom: 32px;
}

.nav-containter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  max-width: 1400px;
  height: 0rem;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: var(--shadow-3);
}

.nav-fixed {
  position: fixed;
  height: 3.5em;
  top: 0;
  left: 0;  
  width: 100%;
  max-width: inherit;
  z-index: 11;
  background-color: var(--backgroundColor);
  transition: var(--transition);
}

.nav-toggle {
  display: none;
}

.nav-containter ul {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  text-transform: capitalize;
}

.nav-link {
  color: var(--primary-500);
  font-weight: 600;
  letter-spacing: 0.8px;
}
 /*===================== mobile screen nav */
@media (max-width: 700px) {

  .nav-containter {
    height: 0px;
  }
  .nav-name {
    display: none;
  }
  .main-top-nav {
    height: 0px;
  }
  .small-nav{
    position: fixed;
    flex-direction: column;
    padding: min(30vh, 10rem) 0;
    inset: 0 0 0 30%;
    background-color: var(--primary-200);
    background-color: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(2rem);
    z-index: 11;
    transform: translateX(100%);
    transition: var(--transition);
  }
  @supports (backdrop-filter: blur(2rem)) {
    .small-nav {
    background-color: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(2rem);
    }
  } 
  .small-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .nav-link {
    color: black;
    font-size: 1.3rem;
    transition: all .3s ease-in;
  }

  .nav-link:hover {
    color: var(--primary-200);
  }

  .nav-toggle {
    display: block;
    position: fixed;
    font-size: 1.8rem;
    z-index: 12;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    color: var(--primary-200);
    border: none;
    transition: var(--transition);
  }

  .nav-toggle:hover {
    color: var(--primary-600);
  }
}

.nav-name {
  margin-bottom: 0;
  color: var(--black);
}

.nav-name span {
  color: var(--primary-400);
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-line:below;
  text-decoration-color: var(--primary-100);
}

/*===================================== main */
main {
  background: var(--primary-800);
  background: linear-gradient(153deg, var(--primary-900) 0%, var(--primary-700) 76%, var(--primary-500) 96%, var(--primary-500) 100%);
  width: 100%;
}

.container {
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 55% 45%;
}

.box {
  background-color: transparent;
  /* overflow: hidden; */
}

                      /*======================== main box 1 */
.b1 {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.main-img {
  width: 60%;
  max-width: 250px;
  border-radius: 50%;
  margin: 2rem auto;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
}

.main-img:hover {
  box-shadow: var(--shadow-4);
}

.name {
  margin-bottom: 35px;
}

.name h2{
  padding-left: 3.8rem;
  font-size: 2.1rem;
}

.text-effect {
  margin-left: 4.6rem;
  font-size: 1rem;
  text-transform: capitalize;
  position: relative;
}
  
  .text-cursor {
    height: 15px;
    width: 6px;
    background-color: var(--textColor);
    position: absolute;
    right: -8px;
    bottom: 2px;
    visibility: visible;
    animation: text 1s infinite;
  }

  .text-cursor.hide {
    visibility: hidden;
  }


@keyframes text {
  0%   {background-color: var(--textColor); z-index: -5;}
  100% {background-color: var(--textColor); z-index: 1;}
}

                      /*======================== main box 2 */
.b2 {
  display: grid;
  align-items: center;
  justify-content: center;
  border-inline-start: 3px solid;
  border-block-start: 3px solid;
  border-image-source: 
    radial-gradient(
      circle at top right,
      var(--primary-500),
      transparent 35%);
  border-image-slice: 1;
}

@media screen and (min-width:1100px) {
  .b2 {
    margin-left: -6rem;
  }
}

.header-link {
  font-size: 1.2rem;
  color: var(--textColor);
  text-transform: capitalize;
  border-left: 2px solid var(--primary-400);
  transition: var(--transition);
  padding-left: 7px;
}

.header-link:hover {
  color: var(--primary-400);
  margin-left: 4px;
  padding-left: 8px;
}

.b2 ul {
  display: grid;
  gap: 1.2rem;
}

                      /*======================== main box 3 */

.b3 {
  display: grid;
  align-items: center;
  justify-content: center;
  border-inline-start: 3px solid;
  border-block-start: 3px solid;
  border-image-source: 
    radial-gradient(
      circle at top left,
      var(--primary-500),
      transparent 35%);
  border-image-slice: 1;
}

.b3 ul {
  display: grid;
  gap: 1.2rem;
}

.social-icons {
  display: grid;
  gap: 1.6rem;
}

.social-icons .icon {
  font-size: 1.8rem;
  color: var(--textColor);
  transition: var(--transition);
}

.social-icons .icon:hover {
  transform: scale(1.02);
  text-shadow: 7px 5px 5px var(--grey-200);
}

/* small screen */
@media screen and (max-width:750px) {
  .social-icons .icon {
    font-size: 1.5rem;
  }
  .header-link {
    font-size: 1.1rem;
  }
  .main-img {
    width: 55%;
  }
  .name h2{
    font-size: 1.8rem;
  }
  .text-effect {
    font-size: .9rem;
  }
}

.line-devide {
  height: 4px;
  background: rgb(146,168,172);
  background: linear-gradient(140deg, rgba(146,168,172,1) 0%, rgba(37,80,88,1) 100%);
}

/* ============================== about */
.about-container {
  width: 90vw;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 0;
  gap: 5rem;
}


.about-img-container {
  position: relative;
}

.about-img {
  width: 275px;
  border-radius: var(--borderRadius);
  transform: translateX(15px);
  box-shadow: var(--shadow-2);
}

.about-img-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid var(--grey-400);
  top: 1rem;
  right: 1rem;
  border-radius: var(--borderRadius);
}

.about-text {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  color: var(--primary-700);
  margin-bottom: -20px;
}

.about-text .text-line {
  margin-bottom: 1rem;
  border-radius: 20%;
}

/* small screen */
@media screen and (max-width:750px) {
  .about-container {
    flex-direction: column;
  }

  .about-img {
    width: 220px;
  }
  .about-img-container {
    margin-bottom: -25px;
  }
}

/* ====================================== projects */
#projects {
  background-color: var(--primary-700);
  width: 90vw;
  border-radius: 1.2rem;
  margin: 0 auto;
}

.text-line {
  height: 4px;
  width: 2.2rem;
  border-radius: 20%;
  background-color: var(--primary-500);
  margin-top: -1.3rem;
}

.projects-container {
  width: 80vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 0;
  overflow: hidden;
  position: relative;
}

.projects-container p {
  max-width: 400px;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
}

/* projects slider container*/
.projects-img-wrap {
  cursor: pointer;
  width: 80vw;
  max-width: 1200px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  overflow-x: auto;
  scroll-behavior: smooth;
  border-radius: var(--borderRadius);
}

.project-img {
  display: grid;
  transition: var(--transition);
}

.project-img p {
  background-color: var(--primary-500);
  color: var(--grey-300);
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  margin: 0;
  text-transform: capitalize;
}

.project-img > img{
  width: 100%;
  height: 16rem;
  max-width: 400px;
  object-fit: cover;
}

/* back and next projects btn */
.projects-btn {
  position:absolute;
  height: 50px;
  width: 100%;
  top: 37.2%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 5;
  transition: var(--transition);
}

.left-btn, .right-btn {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 60px;
  cursor: pointer;
  transition: var(--transition);
  color: rgb(255, 255, 255);
}

.left-btn:hover, .right-btn:hover {
  background-color: rgba(0, 0, 0, 0.6); 
}

.left-btn:active, .right-btn:active {
  background-color: rgba(115, 196, 216, 0.7); 
}

.right-btn {
  border-top-right-radius: var(--borderRadius);
}

.left-btn {
  justify-content: start;
  border-top-left-radius: var(--borderRadius);
}

/* bigger screen projects container layout */
@media screen and (min-width:750px) {
  .projects-img-wrap {
    grid-auto-columns: 33.3%;
  }
  .project-img > img{
    height: 20rem;
  }
  .projects-btn {
    top: 33.7%;
  }
}

/* mobile screen btn placement */
@media screen and (max-width:450px) {
  .projects-btn {
    top: 37.2%;
  }
}

.snapsX {
  scroll-snap-type: inline mandatory;
  /* scroll-padding-inline: ; */
}

.snapsX > * {
  scroll-snap-align: start;
}

.project-img:hover {
  filter:brightness(0.83)
}

/* ================================= skills */
.text-line-center {
  margin: 0 auto;
  height: 4px;
  width: 3.2rem;
  border-radius: 20%;
  background-color: var(--primary-500);
}

#skills h2 {
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  color: var(--primary-700);
}

.skills-container {
  width: 90vw;
  max-width: 1190px;
  display: grid;
  justify-items: center;
  margin: 0 auto;
  padding-bottom: 2.8rem;
  padding-top:1.5rem;
  gap: 1.8rem;
}

/* frontend and backend box */
.skills-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  color: var(--grey-800);
  margin: 0 auto;
  height: 17.5rem;
  max-width: 350px;
  background-color:var(--grey-100);
  box-shadow: -6px 12px 17px -2px rgba(0,0,0,0.2);
  border-radius: 1.2rem;
  border-left: 6px solid #bdbdbd;
  border-top: 2px solid #d7d7d7;
}

.skills-box1 {
  width: 100%;
}
.skills-box2 {
  width: 100%;
}

.skills-box h5 {
  text-align: center;
}

.skills-text {
  display: flex;
  justify-content:space-between;
}

.skills-text h5 {
  font-size: .9rem;
  font-weight: 600;
}

.skills-text i {
  color:var(--primary-200);
  padding-right: 5px;
  font-size: 1.1rem;
}

/* certificates.. ect box */
.skills-info {
  display: grid;
  width: 90vw;
  max-width: 980px;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  height: 21.2rem;
  background-color: var(--primary-100);
  border-radius: 1.2rem;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--primary-400);
  border-radius: 1.2rem;
}

.btn-heading {
  background-color: var(--primary-400);
  border-radius: 0%;
  padding: 0.8rem 0;
  color: rgb(255, 255, 255);
  box-shadow: none;
}

button[data-id='history'] {
  border-top-left-radius: 1.2rem;
}

button[data-id='goals'] {
  border-top-right-radius: 1.2rem;
}

.info-div {
  padding: 10px 15px;
  position: relative;
  background-color: var(--primary-600);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.certificates {
  margin: 0 auto;
  text-align: center;
  display: grid;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  grid-template-columns: 1fr;
  align-items: center;
  background-color: var(--primary-100);
  border-radius: 1rem;
  padding: 8px;
  width: 90%;
  height: 230px;
}

.cert {
  display: grid;
  grid-template-columns: 50px 200px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.info-div.view .certificates {
  animation: slide 1s 1 ease forwards;
}

.info-div.disabled .certificates {
  animation: slide2 1s 1 ease forwards;
}

.cert img {
  width: 25px;
  border-radius: 2px;
  transition: all .3s ease-in-out;
}

.udemy {
  transform: scale(1.8);
}

.cert a {
  color: rgb(0, 0, 0);
  letter-spacing: .5px;
  text-align: start;
}

.cert:hover img {
  margin-left: 2px;
}

.cert a:visited {
  color: rgb(0, 0, 0);
}

.info-div h4 {
  margin: 12px 5px;
}

.info-div p {
  margin: 0 20px;
}

/* bigger screem */
@media screen and (min-width:750px) {
  .skills-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin: 10px auto;
  }
  .skills-info {
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: var(--primary-600);
    height: 17rem;
    margin-top: 1.5rem;
  }
  .skills-box1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .skills-box2 {
    grid-row: 1/2s;
    grid-column: 2/3;
  }
  .btn-heading {
    font-size: 1rem;
  }
  .certificates {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    height: 210px;
    z-index: 2;
  }
  .cert img {
    width: 35px;
  }
  .info-div h4 {
    margin: 20px 25px;
  }
  .info-div p {
    margin: 0 50px;
  }
  .skills-box {
    height: 18rem;
    max-width: 370px;
  }
}

.btn-active {
  background-color: var(--primary-600);
}

/* info hidden/active */
.info {
  color: var(--primary-100);
  display: none;
}

.active {
  display: grid;
  background-color: var(--primary-600);
}

.fa-php {
  font-size: 1.85rem;
}

@keyframes slide {
    0%    { left: -110%;}
    100%  { left: 50%;}
}

@keyframes slide2 {
  0%    { left: 50%;}
  100%  { left: -110%;}
}

/* ==================== contact section */
#contact {
  background-color: var(--primary-700);
  margin: 0 auto;
  width: 100%;
}

.contact-container {
  padding: 20px;
  display: flex;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.contact-section {
  width: 40%;
  min-width: 300px;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--grey-300);
  border-radius: 1rem;
  color: var(--grey-900);
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: .9rem;
}

input, textarea {
  width: 100%;
  padding: 6px;
  margin-bottom: 8px;
  border: 1px solid var(--grey-300);
  border-radius: var(--borderRadius);
}

input[type="submit"] {
  background-color: #449746;
  color: white;
  width: 85%;
  padding: 12px 0px;
  border: none;
  border-radius: var(--borderRadius);
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}

.contact-details {
  flex-basis: 50%;
  text-align: center;
  padding: 20px;
}

.contact-details h3 {
  margin-bottom: 20px;
}

.contact-details .text-line {
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: 20px;
  background-color: var(--primary-400);
  border-radius: 20%;
}

.contact-details a {
  font-size: 1.1rem;
  margin-right: 10px;
  color: var(--textColor);
  transition: var(--transition)
}

/* small screen */
@media screen and (max-width:750px) {
  .contact-section h3 {
    font-size: 1.3rem;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
  }

  .contact-details {
    margin-bottom: -30px;
  }

  .contact-details h3 {
    font-size: 1.7rem;
  }
}

/* ==========================================footer */
footer {
  width: 100%;
  height: 135px;
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div{
display: flex;
align-items: center;
}

footer img{
  width: 180px;
}
/***************************************** scrollbar */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-200) #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--grey-100);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--grey-200);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary-200);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #568285;
}

*::-webkit-scrollbar-thumb:active {
  background-color:var(--grey-800);
}

/*=========================== modal */
#main {
  width: 100%;
  transition: 0.5s;
  overflow: hidden;
}

#main.active {
  filter: blur(12px);
}

#modal {
  z-index: 10;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

#modal.active {
  visibility: visible;
}

.project-modal {
  background-color: rgba(3, 3, 3, 0.84);
  border-radius: 9px;
  width: 70%;
  padding: 50px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}


.project-modal.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.modal-img img {
  width: 100%;
}

.modal-link {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 15px;
}

.modal-link a {
  color: rgb(42, 151, 184);
}

.modal-link i {
  margin-left: 6px;
}

.modal-info {
  text-align: center;
}

.modal-info h5 {
  font-size: 17px;
  margin-bottom: 7px;
}

.modal-toggle{
  z-index: 11;
  position: absolute;
  color: var(--white);
  background-color: transparent;
  border: none;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--grey-400);
}
/* mobile screen */
@media (max-width: 700px) {
  .project-modal {
    width: 87%;
    padding: 35px;
  }
  .modal-link {
    gap: 3rem;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 13px;
  }
  .modal-toggle{
    top: 20px;
    right: 20px;
    font-size: 1.2rem;
  }
  .modal-info h5 {
    font-size: 15px;
  }
}